@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1569595429023'); /* IE9 */
  src: url('iconfont.eot?t=1569595429023#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAK4AAsAAAAABnQAAAJpAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBAIEOATYCJAMICwYABCAFhG0HLxuzBRHVkzdkPxKy06KrIXBk+yNREzxfc+T72U0OGBUCtVVVSGg75wuOQCLa7LftkUZJCwmLvM7vnk92YsDYtwD4497pXwEFMt95l8sYg8aaNKkLMA6kAMdatIWLJPKGsQtcwmYI4Ew4qUhFVUMHjmisXgLIgtnpURxzTjSaRRwRrJqJGtmFiaOx2XgE7Ay/L19IE0cwMBVWTstU5QQl73vtGLXKXsWAj+ACAU03AQWkAhqkozbYhEIYWeEc1ETDvjIF3vfatm9A9qpF2F9npbsCEAp598R3BbfKbACgoTHEAWmj3gLKzcNpqRx99nzyJAhn7WVO4CwXbgSfnNt6P+zQtdh+Vznx/PX0aWjar+eLV3X/f+Bls/1DV/0XZ8Znzste17IuudyStxVvxSpPPpW9d1FZ5fFNjvCnKo6XUgKAfUZdVvMQQODZ7erlwx4F/xxdNAAv75XGhnb7jKafGRx3bRL4RfyeFVoXWnpDq/zaqEEc6tR5zjgDNtjqzbuxKr/7iQqO+N2V2YGwFBSOxKKalAomLmSAhSPF4EwK1dNd8GEhCtFOQDLrAQie3AQDd+ZA4cljVJPegok/38DCUxQ40yU+C7oQL7PO5RKhYNQg/+DVVoxj5C7KvKJ9J0FZYUh5Ip3eA1M/FiMXLEhzDDk/dmY2YGjLsILtMKUNdtoCKu4d874Mg6m7Ua+2XHVVOaFg1CD/4NVWjF+bu9Lnr2jfSVBLWY31iXT65mHqxx7oRVZ6ld3LNefHzswGDG0ZVtAOU9pgr28XUHHvRvj3ZbCrmb6yfn1F/rp1gHNlqY3abtFWZvZZTFUFAAAA') format('woff2'),
  url('iconfont.woff?t=1569595429023') format('woff'),
  url('iconfont.ttf?t=1569595429023') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1569595429023#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima1:before {
  content: "\e659";
}

